/* ubuntu-title bold */
@font-face {
    font-family: 'Ubuntu Title';
    src: url('./files/Ubuntu-Title-fr.woff2') format('woff2'),
        url('./files/Ubuntu-Title-fr.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* ubuntu-title bold */
@font-face {
    font-family: 'Ubuntu Title';
    src: url('./files/ubuntu-title.woff2') format('woff2'),
        url('./files/ubuntu-title.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}