@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: normal;
    src: url('https://cdn.jsdelivr.net/npm/fvonts@latest/fonts/droid-sans/DroidSans.ttf');
}

@font-face {
    font-family: 'Droid Sans';
    font-style: normal;
    font-weight: bold;
    src: url('https://cdn.jsdelivr.net/npm/fvonts@latest/fonts/droid-sans/DroidSans-Bold.ttf');
}