@font-face {
    src: url('./fonts/droid-sans/DroidSans.ttf');
    font-family: 'Droid Sans';
    font-weight: normal;
}

@font-face {
    src: url('./fonts/droid-sans/DroidSans-Bold.ttf');
    font-family: 'Droid Sans';
    font-weight: bold;
}